html,body{
    width: 100%;
    height: 100%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    color: white;
}
.container{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
main{
    background-color: #000;
    width: 380px;
    height: 700px;
    border-radius: 30px;
    display: grid;
    justify-content: center;
    align-content:flex-end ;
    grid-template-columns: repeat(4,80px);
    grid-template-rows: repeat(5,80px);
    gap: .3rem;
    padding: 10px;
}
.item{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #333;
    text-align: center;
    line-height: 77px;
    cursor: pointer;
}
.item:hover{
    background-color: #5c5a5a;
}
.gray{
    background-color: #a5a5a5;
    color: #000;
}
.gray:hover{
    background-color: #bcbcbc;
}
.orange{
    background-color: #F1A33C;
}
.orange:hover{
    background-color: #febd61;
}
.zero{
    grid-column: 1 / span 2;
    width: 160px;
    border-radius: 80px;
    text-align: left;
    padding-left: 20px;
}

